<!DOCTYPE html>

<html>

<body>
<h1>Books投稿一覧</h1>

<% @books.each do |book| %>

  <table>
    <thead>
      <tr>
      <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
      <tb><span><%= book.title %></span></tb>
      <tb><span><%= book.body %></span></tb>

      <tb>
        <td><%= link_to "show", book_path(book.id), method: :get %></td>
        <tb><%= link_to 'Edit', book_path(id: book.id) %></tb>
        <tb><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></tb>
        </tb>
      </tr>

    </tbody>
  </table>
<% end %>


<h1>新規投稿</h1>

<%= form_with model: @book, url:'/books', local:true do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>


  <h4>本文</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>


</body>
</html>